@import "tailwindcss";

@import "../styles/tokens.css";
@import "../styles/base.css";
@import "../styles/themes.css";
@import "../styles/components.css";
@import "../styles/layout.css";
@import "../styles/animations.css";